# Node package modules 
node_modules/

# Data usedfor Development
# dev-data/

# Sensitive Information
config.env

# Parcel Cache
/.cache

# Parcel bundles
# /public/js/bundle.js
# /public/js/bundle.js.map

# Private API Keys
# /public/js/environment.js